<footer>
		<div class="footer container">
			<div class="row">
				<div class="col footer-content">
					<a href="https://www.northwestern.edu/"><img src="images/northwestern-university.svg"></a>
					<ul>
						<li>&copy; 2018 Northwestern University</li>
						<li>
							<a href="https://www.northwestern.edu/hr/careers/">Careers</a>
						</li>
						<li>
							<a href="https://www.northwestern.edu/disclaimer.html">Disclaimer</a>
						</li>
						<li>
							<a href="https://www.northwestern.edu/emergency/index.html">Campus Emergency Information</a>
						</li>
						<li>
							<a href="https://policies.northwestern.edu/">University Policies</a>
						</li>
					</ul>
				</div>
				<div class="col footer-content contact">
					<ul>
						<li><img src="images/map-pin.png"></li>
						<li>1970 Campus Drive</li>
						<li>Evanston, IL 60208</li>
					</ul>
					<ul>
						<li class="footer-phone-icon"><img src="images/phone.png"></li>
						<li>(847) 491-7658</li>
					</ul>
					<ul><li class="footer-email-icon"><img src="images/email.png"></li
						><li><a href="mailto:library@northwestern.edu">library@northwestern.edu</a></li></ul>
				</div>
				<div class="col footer-content">
					<p><strong>Social Media</strong></p>
					<a class="social facebook" href="https://www.facebook.com/NorthwesternLibrary"></a>
					<a class="social twitter" href="https://twitter.com/nu_library"></a>
					<a class="social instagram" href="https://www.instagram.com/nu_library/"></a>
					<a class="social youtube" href="https://www.youtube.com/user/NorthwesternLib"></a>
					<a class="social wordpress" href="https://sites.northwestern.edu/northwesternlibrary/"></a>
				</div>
				<div class="col footer-content">
					<ul>
						<li><a href="https://northwestern.libanswers.com/">FAQs</a></li>
						<li><a href="https://www.library.northwestern.edu/about/support/index.html">Support Us</a></li>
						<li><a href="https://www.library.northwestern.edu/about/library-jobs/index.html">Library Jobs</a></li>
						<li><a href="https://www.library.northwestern.edu/about/administration/policies/index.html">Library Policies</a></li>
						<li><a href="https://www.library.northwestern.edu/about/contact/general-feedback.html">Provide Feedback</a></li>
					</ul>
				</div>
			</div>			
		</div>
	</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
