<% include partials/header %>

<main>
	<div class="content container">
		<div class="row">
			<div class="instruction col">
				<p><strong>Welcome to the NUsearch fine and fee payment page.</strong> If you are here to pay a lost item replacement fee ($125), please <a href="mailto:circulation@northwestern.edu">contact</a> the Circulation Desk to discuss replacement options before making a payment.</p>
				<ul>
					<li>Northwestern students, staff and faculty please enter your NetID below.</li>
					<li>Alumni and other borrowers please enter the barcode number on the back of your library card.</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col" id="message">	
				<!--message goes here-->
			</div>
		</div>
		<div class="row">
			<div class="id-form col">
				<form name="pay" method="post" action="pay-fines">
					<div class="form-group">
					<label>NetID or barcode number:</label>
					<input class="form-control" id="ppID" type="text" name="user_id" maxlength="20">
					</div>
					<button class="btn btn-primary" id="ppButton" border="0" name="submit" alt="Make payments with Card Connect - it's fast, free and secure!">Pay Now</button>
				</form>
			</div>
		</div>
	</div>
</main>

<% include partials/footer %>
